Django==5.2.5
djangorestframework==3.16.1
django-filter==25.1
django-cors-headers==4.7.0

psycopg[c,pool]==3.2.9

django-rq==3.1
rq==2.5.0
redis==5.2.1

lxml==5.3.0

Pillow==11.3.0

django-debug-toolbar==5.2.0
ipython==8.31.0

gunicorn==23.0.0
whitenoise==6.7.0

python-dateutil==2.9.0
pytz==2025.1
chardet==5.2.0
ijson==3.3.0